.wrapper {
  min-width: 300px;
  z-index: 10;
}

.title {
  line-height: 33px;
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu > button {
  color: #AEB2C3;
  font-size: 1.5em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(180deg);
}

.back {
  background: none;
  border: none;
  font-size: 2em;
  outline: none;
  cursor: pointer;
}