ul.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.list-item {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.long-form-group {
    display: grid;
}

.long-form-group > input {
    text-align: left;
    margin-top: -18px;
    width: 100%;
}

.long-form-group > input::placeholder {
    text-align: left;
}

select {
    height: 17px;
    width: 130px;
    color: #6A7397;
    font-size: 14px;
    letter-spacing: 0.17px;
    line-height: 17px;
    text-align: right;
    margin-bottom: 20px;
    border: none;
    font-weight: 600;
    background-color: white;
}

label {
    height: 17px;
    width: 120px;
    color: #030D36;
    font-size: 14px;
    letter-spacing: 0.17px;
    line-height: 17px;
    margin-bottom: 20px;
}

input {
    height: 17px;
    width: 135px;
    color: #6A7397;
    font-size: 14px;
    letter-spacing: 0.17px;
    line-height: 17px;
    text-align: right;
    margin-bottom: 20px;
    border: none;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    text-align-last: right;
    text-overflow: ellipsis;
}

::placeholder {
    height: 17px;
    width: 160.18px;
    color: #C2C7DA;
    font-size: 14px;
    letter-spacing: 0.17px;
    line-height: 17px;
    text-align: right;
    font-weight: normal;
}

.btn-position {
    float: right;
}
