a {
  text-decoration: none;
  color: #030D36;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 30px;
  display: flex;
}
.comments {
  color: #030D36;
  flex: 1;
}
.comments a{
  display: flex;
  align-items: center;
}
.highlight {
  color: #576398;
  background-color: #F5F6F9;
  padding: 3px;
  font-weight: 600;
}
.detail p{
  color: #5B6176;
  font-size: 14px;
}
p {
  margin:0;
}
h4 {
  margin: 0;
}

.popover-content,
.popover-header { width: 300px; }

.popover-header {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.popover-header .popover-back-nav {
  line-height: 30px;
  margin-right: 10px;
}

.popover-header .popover-title {
  color: #030D36;
}

.popover-header .popover-title h3 {
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
}

.popover-header .popover-subtitle {
  font-size: 10px;
  line-height: 6px;
  font-weight: 500;
}

.popover-controls {
  position: absolute;
  top: 8px;
  right: 8px;
  line-height: 16px;
}

.popover-control {
  padding: 0;
  margin: 0 0 0 8px;
  color: #AEB2C3;
  height: 16px;
  font-size: 120%;
  line-height: 16px;
  width: 16px;
}

.popover-control,
.popover-back-nav {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.svg-icon {
  display: block;
  fill: #AFB2C2;
  stroke: #AFB2C2;
  height: 100%;
  width: 100%;
}