.loading {	
  height: 16px;	
  opacity: 0.56;	
  border-radius: 7px;	
  background: linear-gradient(270deg, #E1E5F8 0%, #F0F1F5 100%);
}

ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}
.scroll {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 10px;
}
li {
  line-height: 30px;
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  justify-content: flex-end;
}
span.label {
  font-size: 14px;
  flex: 1;
  white-space:nowrap;
}