.wrapper {
  position: absolute;
  background-color: white;
  min-width: 320px;
  z-index: 10;
}

.title {
  line-height: 33px;
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu {
  color: #AEB2C3;
  font-size: 1.5em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(180deg);
}
.back {
  background: none;
  border: none;
  font-size: 2em;
  outline: none;
  cursor: pointer;
}

.footer-text {
  margin: 0;
  position: absolute;
  bottom: 6px;
  left: 6px;
  font-size: 0.8em;
  opacity: 0.3;
}

.save-button {
  float: right;
  margin: 24px;
  border: none;
  background-color: #0FE49B;
  height: 40px;
  width: 96px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.save-button:hover {
  background-color: #00C682;
}
