.loading {
  height: 16px;	
  opacity: 0.56;	
  border-radius: 7px;	
  background: linear-gradient(270deg, #E1E5F8 0%, #F0F1F5 100%);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  line-height: 18px;
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.label {
  flex:1;
  white-space: nowrap;
}

.checkbox {
  text-align: right;
  justify-content: flex-end;
} 

.button {
  border-radius: 4px;
  color: white;
  background-color: #0FE49B;
  font-size: 1.1em;
  padding: 5px 25px;
  line-height: 30px;
  border: none;
} 